body{
    margin: 0;
    padding: 0;
    /* height: 100%;
    width: 100%; */
    background: url("car.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.loginBox{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 480px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: black;
    opacity: 0.7;
}
img{
    
    position:absolute;
    z-index:1;
    margin-top: 80px;
}
.user
{
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-50px);
    left: calc(50% - 60px);
}
h2 {
    margin: 0;
    padding: 0 0 20px;
    color: yellow;
    text-align: center;
}

p{
    margin: 0;
    padding:0;
    font-weight: bold;
    color: whitesmoke;
    font-family: sans-serif;
}

.loginBox input{
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"]{
    border: none;
    border-bottom: 1px solid yellowgreen;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 15px;
}
.loginBox input[type="submit"]{
    width: 100%;
    padding: 10px;
    background: orange;
    color:black;
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}
.loginBox input[type="submit"]:hover{
    background: rgb(201, 42, 2);
    color: aliceblue;
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
}
a{
    color: whitesmoke;
    text-decoration: none;
    font-family: sans-serif;
}